.loog{
    width: 5vh;
    height: 5vh;
}
.placeholder{
    color: aliceblue;
}
#navbbbb{

    background-color: rgb(15, 15, 15);
}
#dentro{
    background-color: rgb(15, 15, 15);
}
body{
    background-color: rgb(32, 32, 32);
}
#con1{
    border-top: 3px solid;
    color: #dc3545;
    border-bottom: 3px solid;
    color: #dc3545;
}
.mas{
    width: 134vh;
}
.camp{
    width: 11vh;
    color: aliceblue;
    background-color: #dc3545;
}
.div{
    color: white;
}
#con2{
    border-bottom: 3px solid;
    color: #dc3545;
}
#con3{
    border-bottom: 3px solid;
    color: #dc3545;
}
li{
    color: white;
}
h1{
    color: #dc3545;
}
h3{
    color: #dc3545;
}
.vai{
    color: #dc3545;
}
.trofe{
    width: 40vh;
    height: 40vh;
}
.logot{
    width: 5vh;
    height: 5vh;
}
footer{
    margin-top: 10vh;
    background-color:rgb(15,15,15) ;
}
.temq{
    color: white;
}